---
layout: default
title: 'Impressionen'
---

%h2 Impressionen

.galleries
  .gallery
    .description
      .thumb
        = link_to '/impressionen/baumschnitt.html', title: 'Baumschnitt' do
          %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_6288_Kopie_c200x250.JPG", width: "200"}/
      .title
        %h4
          = link_to 'Baumschnitt', '/impressionen/baumschnitt.html'
  .gallery
    .description
      .thumb
        = link_to '/impressionen/baumschutz-auf-baustellen.html', title: 'Baumschutz auf Baustellen' do
          %img{alt: "Baumschutz auf Baustellen", height: "250", src: "/images/galleries/baumschutz-auf-baustellen/IMG_0434_Kopie_c200x250.jpg", width: "200"}/
      .title
        %h4
          = link_to 'Baumschutz auf Baustellen', '/impressionen/baumschutz-auf-baustellen.html'
  .gallery
    .description
      .thumb
        = link_to '/impressionen/faellungen.html', title: 'Fällungen' do
          %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_2221_c200x250.jpg", width: "200"}/
      .title
        %h4
          = link_to 'Fällungen', '/impressionen/faellungen.html'
  .gallery
    .description
      .thumb
        = link_to '/impressionen/kronensicherung.html', title: 'Kronensicherung' do
          %img{alt: "Kronensicherung", height: "250", src: "/images/galleries/kronensicherung/IMG_0145_Kopie_c200x250.JPG", width: "200"}/
      .title
        %h4
          = link_to 'Kronensicherung', '/impressionen/baumschnitt.html'
  .gallery
    .description
      .thumb
        = link_to '/impressionen/landschaftspflege.html', title: 'Landschaftspflege' do
          %img{alt: "Landschaftspflege", height: "250", src: "/images/galleries/landschaftspflege/IMG_0011_Kopie_c200x250.JPG", width: "200"}/
      .title
        %h4
          = link_to 'Landschaftspflege', '/impressionen/landschaftspflege.html'
  .gallery
    .description
      .thumb
        = link_to '/impressionen/standortverbesserung.html', title: 'Standortverbesserung' do
          %img{alt: "Standortverbesserung", height: "250", src: "/images/galleries/standortverbesserung/IMG_1002_Kopie_2_c200x250.JPG", width: "200"}/
      .title
        %h4
          = link_to 'Standortverbesserung', '/impressionen/standortverbesserung.html'
  .gallery
    .description
      .thumb
        = link_to '/impressionen/wurzelballen-entfernen.html', title: 'Wurzelballen entfernen' do
          %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/MFZ_5000_Aktion_Apfel_33_c200x250.JPG", width: "200"}/
      .title
        %h4
          = link_to 'Wurzelballen entfernen', '/impressionen/wurzelballen-entfernen.html'

%br{clear:'both'}/
